@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Montserrat:wght@300&display=swap");

.benefits-container {
  background-color: #f6f9fc;
  font-family: "Manrope", sans-serif;
  color: #0a2540;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  height: 70vh;
}
.benefits-head {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 2px;
  width: 100%;
  font-weight: 400;
}
.benefits-items-cont {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-items: center;
}

.benefits-items {
  display: flex;
}

.icon {
  width: 35px;
  height: 35px;
}

.icon1 {
  width: 50px;
}

.icon2 {
  width: 40px;
}

.head {
  font-size: 20px;
}

.text-main {
  color: rgba(0, 0, 0, 0.523);
  font-size: 15px;
}
